body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: lightblue;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px;
  
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.state-name {
    font-weight: bold;
}

.state-capital {
    color: #666;
}